.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 1%;
  background-color: var(--background-accent);
  box-sizing: border-box;
  box-shadow: 0 3px 10px 1px var(--background-accent);
  justify-content: space-between;
  z-index: 98;
  display: flex;
}

.header-logo {
  height: 4vmin;
  padding: 0 2vmin;
}

.header-logo-wrapper {
  margin: 1%;
  padding: 2vmin 0;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
}

.nav > * {
  padding: 2vmin 0;
  font-weight: 300;
  text-decoration: none;
}

.nav > .header-selected > div {
  color: var(--background-accent);
  background-color: var(--text);
  border-radius: 1000px;
  font-weight: 700;
}

.nav > * > div {
  color: var(--text);
  transition: .2s;
  padding: 5px 10px;
}