.round-button {
    display: flex;
    color: var(--normal-white);
    border-color: var(--normal-white);
    background-color: transparent;
    border-style: solid;
    border-radius: 1000px;
    border-width: 0.15em;
    font-weight: 700;
    padding: 0.5em 1em;
    width: max-content;
    font-size: 1.5rem;
    transition: .2s;
    gap: 10px;
}

.round-button svg {
    font-size: 2rem;
}

.round-button:hover, .round-button.focused {
    background-color: var(--normal-white);
    color: var(--accent-black);
}