.tiny-member-card {
    display: flex;
    border-radius: 1000px;
    width: 300px;
    overflow: hidden;
    transition: .2s;
    height: 90px;
    cursor: pointer;
    background-color: var(--background);
    text-decoration: none;
}

.large-member-card {
    position: relative;
    border-radius: 1000px;
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: .2s;
    background-color: var(--background-accent);
    text-decoration: none;
    gap: 20px;
}

.tiny-member-card:hover {
    transition: .2s;
    z-index: 100;
    transform: scale(1.2);
}

.tiny-member-card img, .large-member-card img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1000px;
}

.large-member-card .button-wrapper {
    bottom: 30px;
    position: absolute;
    left: 52%;
}

@media only screen and (max-width: 1200px) {
    .large-member-card {
        flex-direction: column;
        width: 400px;
        height: 100%;
    }
    .large-member-card img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 1000px;
    }

    .large-member-card .button-wrapper {
        bottom: 30px;
        position: absolute;
        left: 21%;
    }
}

.tiny-member-card .text {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large-member-card .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: inherit;
    margin: 2%;
}

.tiny-member-card .text .pseudo, .large-member-card .text .pseudo {
    font-size: 20px;
    font-weight: 700;
    align-self: center;
}

.tiny-member-card .text .realname, .large-member-card .text .realname {
    font-size: 16px;
    font-weight: 200;
    align-self: center;
}

.large-member-card .text .short-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.large-member-card .text .long-description {
    margin-top: 4%;
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
}