.header-member-card {
    background-color: var(--accent-black);
    border-radius: 45px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.header-member-card .carousel-root {
    width: 100%;
    height: 100%;
    margin: 30px;
}

.header-member-card .projects {
    max-width: 50%;
    min-width: 50%;
}

.header-member-card .projects .title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .header-member-card {
        flex-direction: column;
    }
}