body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: clip;
}

@media (max-width: 600px) {
  .screen-width-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 600px) {
  .screen-width-wrapper {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.test-content {
  padding-bottom: 300%;
}